main {
  font-size: 16px;
}

header {
  width: 90%;
  padding: 0 5%;
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
}

nav div {
  display: inline-block;
  padding: 0;
  vertical-align: top;
}

.lm {
  width: 20%;
}

.lp {
  width: 19%;
}

body {
  background: Gainsboro;
  font-family: "Calibri", sans-serif;
  margin: 0;
  padding: 0;
}

nav div a:visited, .production a:visited, nav div A:active, .production a:active, nav div a, .production a {
  color: MidnightBlue;
  text-decoration: none;
}

nav div A:hover, .production a:hover {
  color: SteelBlue;
}

h1 {
  text-align: center;
}

.container {
  margin-top: 3px;
  background: Gainsboro;
  display: inline-block;
  width: 49.8%;
  height: 400px;
  vertical-align: top;
}

.containerX {
  margin-top: 3px;
  display: inline-block;
  width: 24.8%;
  height: 400px;
  vertical-align: top;
}

.production {
  text-align: center;
  background: White;
}

.production a {
  text-decoration: none;
}
