.contacts {
  width: 100%;
  font-family: Calibri, sans-serif;
  font-size: 20px;
  display: inline-table;
  vertical-align: top;
}

.contacts p, .contacts h2 {
  text-align: justify;
}

.back img {
  width: 32px;
  margin-top: 6px;
  position: absolute;
  left: 32px;
}

main {
  font-size: 16px;
}

header {
  height: 170px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
}

nav div {
  display: inline;
  float: left;
  padding: 0;
  vertical-align: top;
}

.logo {
  position: absolute;
  left: 32.5%;
  width: 25%;
  margin: 0 5%;
}

.lp, .lx {
  width: 33.33%;
}

@media only screen and (min-width: 768px) {
  .logo {
    left: 41.25%;
    width: 15%;
  }
  .lp {
    width: 40%;
  }
  .lx {
    width: 20%
  }
  nav div a {
    display: inline;
    float: left;
    width: 50%;
  }
}

@font-face {
 font-family: Brush Script MT;
 src: url(src/font.otf);
}

body {
  background: Gainsboro;
  font-family: "Brush Script MT", cursive;
  margin: 0;
  padding: 0;
}

nav div a:visited, nav div A:active, nav div a, .contacts a:visited, .contacts a:active, .contacts a {
  color: MidnightBlue;
  text-decoration: none;
}

nav div A:hover, .contacts a:hover {
  color: SteelBlue;
}

h1 {
  text-align: center;
  margin-bottom: 60px;
}

.product-wrapper-partition, .product-wrapper {
	display: inline-block;
	width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 10px;
	transition: width .2s;
}

@media only screen and (min-width: 450px) {
	.product-wrapper {
		width: 49%;
	}
}

@media only screen and (min-width: 768px) {
	.product-wrapper {
		width: 32%;
	}
  .product-wrapper-partition {
    width: 49%; /*asdasd*/
  }
}

@media only screen and (min-width: 1000px) {
	.product-wrapper {
		width: 24%;
	}
  .product-wrapper-partition {
    width: 32.5%; /*asdasd*/
  }
  .contacts {
		width: 42%;
    padding: 0 3%;
	}
}

.product, .product-partition {
	display: block;
	position: relative;
	margin: 0 5px 0 5px;
	text-decoration: none;
	color: #474747;
	height: 350px;
  text-align: center;
}

.product-partition {
  background: White;
  height: 300px;
  font-size: 24px;
}

.products, .products-partition {
	list-style: none;
	margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: center;
}

.products-partition {
  background: Gainsboro;
}

.products{
  padding-top: 40px;
  background: White;
}

.product-wrapper-partition img {
  height: 200px;
  max-width: 90%;
  margin: 10px 10px 0px 10px;
}

.product-wrapper img {
  height: auto;
  width: 100%;
}

.product p {
	position: relative;
	margin: 0;
	font-size: 1em;
	line-height: 1.4em;
	height: 5.6em;
	overflow: hidden;
}

.product p:after {
	content: '';
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 4.2em;
	height: 1.6em;
	background: linear-gradient(to left top, #fff, rgba(255, 255, 255, 0));
}

.product:hover img, .product-partition:hover img {
	transform: scale(1.05);
}

.info {
  margin: 0 10%;
  text-align: justify;
}

.info img{
  width: 40%;
  float:left;
  margin: 7px 7px 7px 0;
}

.presentation img {
  width: 90%;
  text-align: center;
  margin: 10px 5%;
}
