.x {
  text-align: center;
}

.x button {
  font-size: 24px;
  padding: 10px 20px;
  margin: 0 20px;
  border-radius: 16px;
  color: blue;
}

.x button:hover {
  background-color: gray;
}

.x .selected {
  background-color: black;
}

main {
  font-size: 20px;
}
